@model NavyPqs.Models.Signature

<div>
    <h4>Signature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SomeKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomeKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignedOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignedOff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
